doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Webdesign.io

    link(rel='apple-touch-icon-precomposed', sizes='57x57', href=asset('/ico/apple-touch-icon-57x57.png'))
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href=asset('/ico/apple-touch-icon-114x114.png'))
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href=asset('/ico/apple-touch-icon-72x72.png'))
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href=asset('/ico/apple-touch-icon-144x144.png'))
    link(rel='apple-touch-icon-precomposed', sizes='60x60', href=asset('/ico/apple-touch-icon-60x60.png'))
    link(rel='apple-touch-icon-precomposed', sizes='120x120', href=asset('/ico/apple-touch-icon-120x120.png'))
    link(rel='apple-touch-icon-precomposed', sizes='76x76', href=asset('/ico/apple-touch-icon-76x76.png'))
    link(rel='apple-touch-icon-precomposed', sizes='152x152', href=asset('/ico/apple-touch-icon-152x152.png'))
    link(rel='icon', type='image/png', href=asset('/ico/favicon-196x196.png'), sizes='196x196')
    link(rel='icon', type='image/png', href=asset('/ico/favicon-96x96.png'), sizes='96x96')
    link(rel='icon', type='image/png', href=asset('/ico/favicon-32x32.png'), sizes='32x32')
    link(rel='icon', type='image/png', href=asset('/ico/favicon-16x16.png'), sizes='16x16')
    link(rel='icon', type='image/png', href=asset('/ico/favicon-128.png'), sizes='128x128')
    meta(name='application-name', content='webdesignio boilerplate')
    meta(name='msapplication-TileColor', content='#FFFFFF')
    meta(name='msapplication-TileImage', content='mstile-144x144.png')
    meta(name='msapplication-square70x70logo', content=asset('/ico/mstile-70x70.png'))
    meta(name='msapplication-square150x150logo', content=asset('/ico/mstile-150x150.png'))
    meta(name='msapplication-wide310x150logo', content=asset('/ico/mstile-310x150.png'))
    meta(name='msapplication-square310x310logo', content=asset('/ico/mstile-310x310.png'))

    link(href=asset('/css/bootstrap.min.css') rel='stylesheet')
    link(href=asset('/css/style.css') rel='stylesheet')
    link(href=asset('/css/icons.css') rel='stylesheet')

  body

    block navigation
      div(data-component='SaveSuccessIndicator')
      header.header
        .container: .row
          .col-sm-4
            h1.logo Webdesign.io
          .burger-menu
            span
            span
            span
            span
          nav.header-nav.col-sm-8.col-xs-12.text-right
            ul.list-inline
              li
                a(href='https://www.github.com/webdesignio/webdesignio/wiki') Documentation
              li(data-webdesignio-remove)
                a#save(href) SAVE


    block content


    footer.footer
      .container: .row
        .col-md-3.col-sm-4.col-xs-12
          h5.text-white.mb-20 Get In Touch
          p: a(href) hello@webdesignio.com
          p.mt-20
            | websites einfach smart,
            br
            | Björn Schmidtke
            br
            | Gustav-Jourdan-Weg 10
            br
            | 72534 Hayingen
            br
            | Germany
        .col-md-6.col-sm-4.footer-logo.hidden-xs
        .col-md-3.col-sm-4.col-xs-12.text-right.mt-xs-30
          h5.text-white.mb-20 Share The Love
          ul.social.list-inline
            li
              a(href).social-icon.icon-twitter
            li
              a(href).social-icon.icon-facebook
            li
              a(href).social-icon.icon-linkedin
        .col-xs-12.text-center.mt-60.mt-xs-40
          p.op-02 © Webdesign.io — All rights reserved.

    //- div(data-webdesignio-remove data-component='Toolbar')
    script(data-webdesignio-remove src=asset('/client.js'))
    script(src=asset('/js/vendor/jquery.min.js'))
    script(src=asset('/js/scripts.js'))

    block scripts
